@{
	ViewData["Title"] = "SMS-service";
	Layout = "/Views/Shared/NewLayout.cshtml";
}
	<!-- about -->
	<section class="about py-5">
		<div class="container py-sm-4">
			<div class="heading-grid text-center">
				<h5>About our Business</h5>
				<h4>Duis nisi sapien, elementum finibus fermentum eget, aliquet a leo. Mauris hendrerit elit vel ex.</h4>
			</div>
			<div class="row">
				<div class="col-lg-6 about-left">
					<h3>Business, Development, Growth, Technology, Industry, Professionals Team, agreement</h3>
					<h5>Vestibulum ullamcorper a massa eu fringilla. Integer ultrices finibus nisi aliquet leo elit.</h5>
					<p class="mt-4">
						Duis nisi sapien, elementum finibus fermentum eget, aliquet leo. Mauris hendrerit vel ex.
						Quisque vitae luctus massa. Phasellus sed aliquam leo. Vestibulum ullamcorper a massa eu fringilla. Integer ultrices finibus sed nisi.
						in convallis felis dapibus sit amet. Donec a arcu et sapien hendrerit accumsan. Pellentesque sit amet eros iaculis, elementum
						urna ipsum accumsan, iaculis ligula. Aenean interdum quam eget maximus.
					</p>
				</div>
				<div class="col-lg-6 about-right position-relative mt-lg-0 mt-5">
					<img src="images/about2.jpg" alt="" class="img-fluid img-border ml-lg-5" />
					<img src="images/about1.jpg" alt="" class="img-fluid position-absolute img-position" />
				</div>
			</div>
		</div>
	</section>
	<!-- //about -->
	<!-- advantages -->
	<section class="advantages py-5">
		<div class="container py-sm-4">
			<div class="heading-grid text-center">
				<h5>Advantages</h5>
				<h4>Duis nisi sapien, elementum finibus fermentum eget, aliquet a leo. Mauris hendrerit elit vel ex.</h4>
			</div>
			<div class="row">
				<div class="col-lg-6 advantages-left">
					<img src="images/advantage1.jpg" alt="" class="img-fluid" />
				</div>
				<div class="col-lg-6 advantages-right">
					<div class="row inner-info mt-5 inner-info-left">
						<div class="col-md-1">
							<span class="fa fa-cogs"></span>
						</div>
						<div class="col-md-11">
							<h4 class="mt-md-0 my-2">creative designs</h4>
							<p class="">Sed ut perspiciatis unde omnis natus error dolor volup tatem ed accusan tium aliquet at leo dolor. dapibus sit amet</p>
						</div>
						<div class="col-md-1 mt-4">
							<span class="fa fa-window-restore"></span>
						</div>
						<div class="col-md-11 mt-md-4">
							<h4 class="mt-md-0 my-2">responsive layout</h4>
							<p class="">Sed ut perspiciatis unde omnis natus error dolor volup tatem ed accusan tium aliquet at leo dolor. dapibus sit amet</p>
						</div>
						<div class="col-md-1 mt-4">
							<span class="fa fa-pencil-square"></span>
						</div>
						<div class="col-md-11 mt-md-4">
							<h4 class="mt-md-0 my-2">Easy to Customize</h4>
							<p class="">Sed ut perspiciatis unde omnis natus error dolor volup tatem ed accusan tium aliquet at leo dolor. dapibus sit amet</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 advantages-right mt-5">
					<div class="row inner-info text-md-right inner-info-right mt-lg-5">
						<div class="col-md-11">
							<h4 class="mt-md-0 my-2">creative designs</h4>
							<p class="">Sed ut perspiciatis unde omnis natus error dolor volup tatem ed accusan tium aliquet at leo dolor. dapibus sit amet</p>
						</div>
						<div class="col-md-1">
							<span class="fa fa-cogs"></span>
						</div>
						<div class="col-md-11 mt-4">
							<h4 class="mt-md-0 my-2">responsive layout</h4>
							<p class="">Sed ut perspiciatis unde omnis natus error dolor volup tatem ed accusan tium aliquet at leo dolor. dapibus sit amet</p>
						</div>
						<div class="col-md-1 mt-md-4">
							<span class="fa fa-window-restore"></span>
						</div>
						<div class="col-md-11 mt-4">
							<h4 class="mt-md-0 my-2">Easy to Customize</h4>
							<p class="">Sed ut perspiciatis unde omnis natus error dolor volup tatem ed accusan tium aliquet at leo dolor. dapibus sit amet</p>
						</div>
						<div class="col-md-1 mt-md-4">
							<span class="fa fa-pencil-square"></span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 advantages-left mt-5">
					<img src="images/advantage2.jpg" alt="" class="img-fluid" />
				</div>

			</div>
		</div>
	</section>
