@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "My Messages";
}
@{
	Layout = "/Views/Shared/NewLayout.cshtml";
}
<section>
	<h2 style="margin-left : 30px">Messages</h2>
	<br />
	<table  class="tab">
		<tr>
			<td align="center"><b style="font-size : 18px">Date of send</b></td>
			<td align="center"><b style="font-size : 18px">Create date</b></td>
			<td align="center"><b style="font-size : 18px">Text</b></td>
			<td align="center"><b style="font-size : 18px">Recepients</b></td>
		</tr>
		@foreach (var mes in ViewBag.MessagesList)
		{
		<tr>
			<td><p>@mes.SendDate</p></td>
			<td><p>@mes.CreateDate</p></td>
			<td><p>@mes.TextMessage</p></td>
			<td>
				<ul>
					@foreach (var rec in mes.MessageRecipient)
					{
						<li title="info">@rec.Phone.Number</li>
					}
				</ul>
			</td>
		</tr>
		}
	</table>
</section>

<style>
	.tab {
		border-collapse: collapse;
		border-style: hidden;
	}

		.tab td {
			border: 1px solid black;
			padding: 8px 20px;
		}
</style>