@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using WebCustomerApp.Models.MessageViewModels
@model CreateViewModel

@{
	ViewData["Title"] = "New message";
}

@{
	Layout = "/Views/Shared/NewLayout.cshtml";
}

<h2 style="margin-left : 30px">@ViewData["Title"]</h2>
<br />
<table style="border-collapse:separate; border-spacing : 20px 10px">
<tr>
	<td style="width : 250px">
		<section>
			<div class="form-group">
				<label>Recepient phone</label>
				<input id="phoneEditor" class="form-control" />
				<span asp-validation-for="RecepientPhones" id="phoneError" class="text-danger"></span>
			</div>

			<div>
				<button onclick="AddRecepient()">Add recepient</button>
				<button onclick="RemoveRecepient()">Remove recepient</button>
			</div>

			<br>

			<div class="form-group">
				<label>Message text</label>
				<textarea id="textEditor" class="form-control" style="height : 135px; resize : none"></textarea>
				<span asp-validation-for="MessageText" id="textError" class="text-danger"></span>
			</div>

			<div>
				<input class="form-control" style="width : 250px" type="datetime-local" id="dateOfSend" lang="uk">
				<span asp-validation-for="DateOfSend" id="dateError" class="text-danger"></span>
			</div>

			<br />
			<button type="submit" onclick="MakeModel()" id="sendMessage" class="btn btn-default">Send</button>

			<div>
				<br />
				<label id="generalInfo" style="color : red; width : 250px"></label>
			</div>

		</section>
	</td>
	<td style="width : 200px">
		<section aria-readonly="true">
			<div class="form-group">
				<textarea class="form-control" style="width : 200px; resize : none" id="phones" rows="16" readonly="readonly"></textarea>
			</div>
			<div>
				<button onclick="SaveRecepientsInFile()" style="width : 200px">Save list in a file</button>
			</div>
			<div>
				@*<button onclick="GetRecepientsFromFile()" style="width : 200px">Brovse list from file</button>*@
				<input type="file"
					   id="recepients" name="recepientsList"
					   accept="file/json, file/xml">
			</div>
		</section>
	</td>
</tr>
</table>

<script type="text/javascript">

	var currentTime = new Date().toJSON().slice(0, 19);
	var phone = document.getElementById("phoneEditor");
	var text = document.getElementById("textEditor");
	var dateOfSend = document.getElementById("dateOfSend");
	var phoneError = document.getElementById("phoneError");
	var textError = document.getElementById("textError");
	var dateError = document.getElementById("dateError");
	var generalInfo = document.getElementById("generalInfo");
	var phones = [];

	function AddRecepient() {
		generalInfo.textContent = "";

		var reg = new RegExp("^[+][0-9]{12}$");

		if (!reg.test(phone.value)) 
			phoneError.textContent = "Incorrect phone number";
		else if (phones.indexOf(phone.value) != -1)  		
			phoneError.textContent = "This number are already added";
		else {
			phones.push(phone.value);
			var textarea = document.getElementById("phones");
			textarea.textContent += phone.value + "\n";
			phone.value = "";
			phoneError.textContent = "";
		}
	}

	function RemoveRecepient() {

		generalInfo.textContent = "";

		if (phones.indexOf(phone.value) == -1) 
			phoneError.textContent = "This phone not find in recepients list";
		else {
			var phoneIndex = phones.indexOf(phone.value);
			phones.splice(phoneIndex, 1)
			textarea = document.getElementById("phones");
			textarea.textContent = textarea.textContent.replace(phone.value + "\n", "");
			phone.value = "";
			phoneError.textContent = "";
		}
	}

	function MakeModel() {
		

		if (CheckModel())
		{
			var Message = {};
			Message.MessageText = text.value;
			Message.RecepientPhones = phones;
			Message.DateOfSend = dateOfSend.value;

			$.ajax(
				{
					url: '/Message/NewMessage',
					type: 'POST',
					data: Message
				});

			generalInfo.style.color = "green"
			generalInfo.textContent = "Messages are sended";
			var submitBtn = document.getElementById("sendMessage");
			submitBtn.setAttribute("disabled", "");
			submitBtn.disabled = true;
		}
	}

	function CheckModel() {

		if (phones.length == 0) {
			generalInfo.textContent = "Recepiens list are empty";
			return false;
		}
		else if (textEditor.value == '') {
			textError.textContent = "Please, add text of message";
			return false;
		}
		else if (dateOfSend.value == "") {
			dateError.textContent = "Please, check the time";
			return false;
		}
		else if (dateOfSend.value < currentTime) {
			dateError.textContent = "You can`t send messages in the past";
			return false;
		}
		textError.textContent = "";
		dateError.textContent = "";
		generalInfo.textContent = "";
		return true;
	}

	document.getElementById("recepients").onchange = function () {
		//var recepientsFromFile = document.getElementById("recepients");
		var formData = new FormData();
		//var totalFiles = document.getElementById(e.id).files.length;
		var file = document.getElementById("recepients").files[0];
		formData.append("FileUpload", file);
		$.ajax({
			type: "POST",
			url: '/fundprovider/newfundUpload_investmentlogo',
			data: formData,
			dataType: 'json',
			contentType: false,
			processData: false,
			success: function (files, data, xhr) {
				$("#tab3edit_fileaccdoc").val(files);
				$("#hdnAccountDocument").val(files);
			},
			error: function (error) {

			}
		});
	}

	function GetRecepientsFromFile() {

	}
</script>