@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using WebCustomerApp.Models.MessageViewModels
@model CreateViewModel
@*@inject SignInManager<ApplicationUser> SignInManager*@

@{
	ViewData["Title"] = "New message";
}

@{
	Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
	<div class="col-md-4">
		<section>
			<div class="form-group">
				<label>Recepient phone</label>
				<input id="recepientEditor" class="form-control" />
				<span asp-validation-for="RecepientPhones" id="phoneError" class="text-danger"></span>
			</div>

			<div>
				<button onclick="AddRecepient()">Add recepient</button>
				<button onclick="RemoveRecepient()">Remove recepient</button>
			</div>

			<br>

			<div class="form-group">
				<label>Message text</label>
				<input id="messageEditor" class="form-control" />
			</div>

			<div class="form-group">
				<textarea id="phones" value="Add Message" rows="15"></textarea>
			</div>

			<button type="submit" onclick="MakeModel()" id="sendMessage" class="btn btn-default">Send</button>
			
			<div>
				<br />
				<label id="info"></label>
			</div>

		</section>

		<script type="text/javascript">

			var phones = [];

			function AddRecepient() {
				var input = document.getElementById("recepientEditor");
				var errorMessage = document.getElementById("phoneError");
				var info = document.getElementById("info");
				info.textContent = "";
				errorMessage.textContent = "";
				var reg = new RegExp("^[+][0-9]{12}$");

				if (reg.test(input.value)) {
					phones.push(input.value);
					var textarea = document.getElementById("phones");
					textarea.textContent += input.value + "\n";
					input.value = "";
				}
				else {
					errorMessage.textContent = "Incorrect phone number";
				}
			}

			function RemoveRecepient() {
				var input = document.getElementById("recepientEditor");
				var errorMessage = document.getElementById("phoneError");
				var info = document.getElementById("info");
				info.textContent = "";
				errorMessage.textContent = "";

				if (phones.indexOf(input.value) == -1) {
					errorMessage.textContent = "This phone not find in recepients list";
				}
				else {
					var index = phones.indexOf(input.value);
					phones.splice(index, 1)
					textarea = document.getElementById("phones");
					textarea.textContent = textarea.textContent.replace(input.value + "\n", "");
					input.value = "";
				}
			}

			function MakeModel() {
				var message = document.getElementById("messageEditor")
				var info = document.getElementById("info");
				info.textContent = "";

				if (phones.length == 0) {
					info.style.color = "red"
					info.textContent = "Recepiens list are empty";	
				}
				else if (message.value == '') {
					info.style.color = "red"
					info.textContent = "Please, add text of message";
				}
				else {
					var Message = {};
					Message.MessageText = message.value;
					Message.RecepientPhones = phones;

					$.ajax(
						{
							url: '/Message/NewMessage',
							//contentType: 'application/json; charset=utf-8',
							//dataType: 'json',
							type: 'POST',
							data: Message
						});

					info.style.color = "green"
					info.textContent = "Messages are sended";
				}
			}
		</script>
	</div>
</div>