@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using WebCustomerApp.Models.MessageViewModels
@model CreateViewModel
@*@inject SignInManager<ApplicationUser> SignInManager*@

@{
	ViewData["Title"] = "New message";
}

@{
	Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
	<div class="col-md-4">
			<section>
			<form onsubmit="Submit()" asp-route-returnUrl="@ViewData["ReturnUrl"]">
				<div class="form-group">
					<label>Recepient phone</label>
					<input id="recepientEditor" class="form-control" />
				</div>

				<div>
					<input type="button" id="addRecepient" value="Add Recepient" />
					<input type="button" id="removeRecepient" value="Remove recepient" />
				</div>

				<br>

				<div class="form-group">
					<label>Message text</label>
					<input id="messageEditor" class="form-control" />
				</div>

				<div>
					<div>
						<textarea id="phones" value="Add Message" rows="15"></textarea>
					</div>
				</div>

				<button type="submit" id="sendMessage" class="btn btn-default">Send</button>
			</form>
			</section>

			<script type="text/javascript">
				{
					var phones = [];
				}
	
				document.getElementById("addRecepient").onclick = function () {
					var input = document.getElementById("recepientEditor")
					phones.push(input.value);
					var textarea = document.getElementById("phones");
					textarea.textContent += input.value + "\n";
					input.value = "";
				}


				function Submit() {
					var input = document.getElementById("messageEditor")
					var Message = {};
					Message.MessageText = input.value;
					Message.RecepientPhones = phones;
					$.ajax(
						{
							url: '/Message/NewMessage',
							//contentType: 'application/json; charset=utf-8',
							//dataType: 'json',
							type: 'POST',
							data: Message
						});
				}
			</script>
	</div>
</div>