@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using WebCustomerApp.Models.MessageViewModels
@model CreateViewModel

@{
	ViewData["Title"] = "New message";
}

@{
	Layout = "/Views/Shared/NewLayout.cshtml";
}

<table style="border-collapse:separate; border-spacing : 20px 10px">
<tr>
	<td style="width : 500px; height = 400px; padding-left: 50px">
		<section class="contact pt-5" id="gallery">
			<div class="container py-lg-5">
				<div class="heading-grid text-center">
					<h5>New Message</h5>
				</div>
				<div class="contact-form">
					<form action="#" method="post">
						<div class="row main-w3layouts-sectns">
							<div class="col-md-12 w3-btm-spc form-text1">
								<input type="text" id="phoneEditor" placeholder="Recepient phone" />
								<span asp-validation-for="RecepientPhones" id="phoneError" class="text-danger"></span>
							</div>
							<div class="col-md-6 w3-btm-spc form-text1" style="align-content:center">
								<input type="button" class="btn" value="Add recepient" onclick="AddRecepient()" />
							</div>
							<div class="col-md-6 w3-btm-spc form-text2">
								<input type="button" class="btn" value="Remove" onclick="RemoveRecepient()" />
							</div>
						</div>
						<div class="main-w3layouts-sectns ">
							<div class="col-md-12 w3-btm-spc form-text1">
								<textarea id="textEditor" placeholder="Enter Your Message Here"></textarea>
								<span asp-validation-for="MessageText" id="textError" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-12 w3-btm-spc form-text1" style="justify-content:center">
							<input class="form-control" style="width : 250px" type="datetime-local" id="dateOfSend" lang="uk">
							<span asp-validation-for="DateOfSend" id="dateError" class="text-danger"></span>
							<br />
						</div>
						<div class="text-center">
							<button type="submit" onclick="MakeModel()" id="sendMessage" class="btn"> Send</button>
						</div>
						<div>
							<br />
							<label id="generalInfo" style="color : red; width : 250px"></label>
						</div>
					</form>
				</div>
			</div>
		</section>
		@*<section>
			<div class="form-group">
				<label>Recepient phone</label>
				<input id="phoneEditor" class="form-control" />
				<span asp-validation-for="RecepientPhones" id="phoneError" class="text-danger"></span>
			</div>

			<div >
				<p>
					<input type="button" value="Add recepient" onclick="AddRecepient()"/>
					<input type="button" value="Remove" onclick="RemoveRecepient()"/>
				</p>
			</div>

			<br>

			<div class="form-group">
				<label>Message text</label>
				<textarea id="textEditor" class="form-control" style="height : 160px; resize : none"></textarea>
				<span asp-validation-for="MessageText" id="textError" class="text-danger"></span>
			</div>

			<div>
				<input class="form-control" style="width : 250px" type="datetime-local" id="dateOfSend" lang="uk">
				<span asp-validation-for="DateOfSend" id="dateError" class="text-danger"></span>
			</div>

			<br />
			<button type="submit" onclick="MakeModel()" id="sendMessage" class="btn btn-default">Send</button>

			<div>
				<br />
				<label id="generalInfo" style="color : red; width : 250px"></label>
			</div>

		</section>*@
	</td>
	<td style="width : 400px; height = 400px; padding-left: 100px" >
		<section aria-readonly="true">
			<div class="form-group">
				<textarea class="form-control" style="width : 200px; height:400px; resize : none" id="phones" readonly="readonly"></textarea>
			</div>
			@*<div>
				<button onclick="SaveRecepientsInFile()" style="width : 200px">Save list in a file</button>
			</div>
			<div>
				<button onclick="GetRecepientsFromFile()" style="width : 200px">Brovse list from file</button>
				<input type="file"
					   id="recepients" name="recepientsList"
					   accept="file/json, file/xml">
			</div>
			*@
		</section>
	</td>
</tr>
</table>

<script type="text/javascript">

	var currentTime = new Date().toJSON().slice(0, 19);
	var phone = document.getElementById("phoneEditor");
	var text = document.getElementById("textEditor");
	var dateOfSend = document.getElementById("dateOfSend");
	var phoneError = document.getElementById("phoneError");
	var textError = document.getElementById("textError");
	var dateError = document.getElementById("dateError");
	var generalInfo = document.getElementById("generalInfo");
	var phones = [];

	function AddRecepient() {
		generalInfo.textContent = "";

		var reg = new RegExp("^[+][0-9]{12}$");

		if (!reg.test(phone.value)) 
			phoneError.textContent = "Incorrect phone number";
		else if (phones.indexOf(phone.value) != -1)  		
			phoneError.textContent = "This number are already added";
		else {
			phones.push(phone.value);
			var textarea = document.getElementById("phones");
			textarea.textContent += phone.value + "\n";
			phone.value = "";
			phoneError.textContent = "";
		}
	}

	function RemoveRecepient() {

		generalInfo.textContent = "";

		if (phones.indexOf(phone.value) == -1) 
			phoneError.textContent = "This phone not find in recepients list";
		else {
			var phoneIndex = phones.indexOf(phone.value);
			phones.splice(phoneIndex, 1)
			textarea = document.getElementById("phones");
			textarea.textContent = textarea.textContent.replace(phone.value + "\n", "");
			phone.value = "";
			phoneError.textContent = "";
		}
	}

	function MakeModel() {
		

		if (CheckModel())
		{
			var Message = {};
			Message.MessageText = text.value;
			Message.RecepientPhones = phones;
			Message.DateOfSend = dateOfSend.value;

			$.ajax(
				{
					url: '/Message/NewMessage',
					type: 'POST',
					data: Message
				});

			generalInfo.style.color = "green"
			generalInfo.textContent = "Messages are sended";
			var submitBtn = document.getElementById("sendMessage");
			submitBtn.setAttribute("disabled", "");
			submitBtn.disabled = true;
		}
	}

	function CheckModel() {

		if (phones.length == 0) {
			generalInfo.textContent = "Recepiens list are empty";
			return false;
		}
		else if (textEditor.value == '') {
			textError.textContent = "Please, add text of message";
			return false;
		}
		else if (dateOfSend.value == "") {
			dateError.textContent = "Please, check the time";
			return false;
		}
		else if (dateOfSend.value < currentTime) {
			dateError.textContent = "You can`t send messages in the past";
			return false;
		}
		textError.textContent = "";
		dateError.textContent = "";
		generalInfo.textContent = "";
		return true;
	}

</script>